# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

In [27]:
d={num:num**2 for num in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

In [28]:
print(d[5])

25

In [29]:
print(d.keys())

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [30]:
d[11]=121
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [31]:
del d[1]
print(d)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

In [32]:
print(d)
print(d.keys())
print(d.values())

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
dict_keys([2, 3, 4, 5, 6, 7, 8, 9, 10, 11])
dict_values([4, 9, 16, 25, 36, 49, 64, 81, 100, 121])

In [33]:
for keys,values in d.items():
    print(f"{keys}: {values}")

2: 4
3: 9
4: 16
5: 25
6: 36
7: 49
8: 64
9: 81
10: 100
11: 121

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

In [34]:
cube={num:num**3 for num in range(1,11)}
print(cube)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [35]:
dict1={d:d**2 for d in range(1,6)}
print(dict1)
dict2={d:d**2 for d in range(6,11)}
print(dict2)

merged_dict={**dict1,**dict2}
print(merged_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [36]:
dict1.update(dict2)
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

In [37]:
student={
    "name":"Sudama",
    "age":21,
    "grades":'A',
    "grades":{
        "maths":90,
        "science":80,
        "english":95
    }
}
print(student)

{'name': 'Sudama', 'age': 21, 'grades': {'maths': 90, 'science': 80, 'english': 95}}

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

In [39]:
multiple = {i: [i * j for j in range(1, 6)] for i in range(1,6)}
print(multiple)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [40]:
square={i:(i,i**2) for i in range(1,6)}
print(square)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [48]:
d={i: i**2 for i in range(1,6)}
lst=list(d.items())
print(lst)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]