The map function applies the given function to all items in a input list(or any other iterable) and returns a map object(an iterator). This is particularly useful for transforming data in a list comprehensively.

In [1]:
def square(x):
    return x*x

square(100)

10000

In [2]:
numbers=[1,2,3,4,5,6,7,8]

map(square,numbers)

In [4]:
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [1]:
##Lambda function with map

numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [6]:
##map() multiple iterables

numbers1=[1,2,3]
numebrs2=[4,5,6]

added_numbres=list(map(lambda x,y:x+y,numbers1,numebrs2))
print(added_numbres)

[5, 7, 9]

In [8]:
##map() to convert a list of strings to integers
#Use map() to convert strings to integers

str_numbers=['1', '2', '3', '4', '5']
int_numbers=list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [11]:
words=['apple', 'banana', 'cherry']
upper_words=list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [13]:
def get_name(person):
    return person['name']

people=[
    {"name":"Sudama","age":32},
    {"name":"Jack","age":33}
]

list(map(get_name,people))

['Sudama', 'Jack']