In [40]:
##creating the set

my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [41]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [42]:
my_set=set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [43]:
my_empty_set=set([1,2,3,6,5,6,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [44]:
##Basics sets operation

#Adding and removing elements
my_set
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [45]:
#Removing element from the set
my_set.remove(6)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [46]:
my_set.remove(11)
print(my_set)

KeyError: 11

In [ ]:
my_set.discard(11)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [ ]:
##pop method

removed_element=my_set.pop()

print(removed_element)
print(my_set)

2
{3, 4, 5, 7}

In [ ]:
##clear all the elements

my_set.clear()
print(my_set)

set()

In [ ]:
##set membership test

my_set={1,2,3,4,5}

print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
##Mathematical operation

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

#Union 
union_set=set1.union(set2)
print(union_set)

#Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [ ]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

##Difference 
print(set1.difference(set2))##Removing common element from set 1

{1, 2, 3}

In [ ]:
set1

{1, 2, 3, 4, 5, 6}

In [ ]:
print(set2.difference(set1))##Removing common element from set 2

{8, 9, 7}

In [ ]:
##Symmetric difference
set1.symmetric_difference(set2)##Unique element are removed

{1, 2, 3, 7, 8, 9}

In [48]:
##sets methods

set1={1,2,3}
set2={3,4,5}

#is subset =  Both the set element should have same numbers to be subset.
print(set1.issubset(set2))

#is superset = All the set2 element should be present in set1 to be superset.
print(set1.issuperset(set2))

False
False

In [54]:
set1={1,2,3,4,5}
set2={3,4,5}

#is subset
print(set1.issubset(set2))

#is superset
print(set1.issuperset(set2))

False
True

In [53]:
set1={1,2,3,4}
set2={3,4,5}

#is subset
print(set1.issubset(set2))

#is superset
print(set1.issuperset(set2))

False
False

In [55]:
set1={1,2,3,4,5}
set2={1,2,3,4,5}

#is subset
print(set1.issubset(set2))

#is superset
print(set1.issuperset(set2))

True
True

In [56]:
lst=[1,2,2,3,4,4,5]

#Removing duplicate
set(lst)

{1, 2, 3, 4, 5}

In [59]:
##Counting unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

#Convert list of words to set to get unique words
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'this', 'we', 'discussing', 'about', 'sets', 'tutorial', 'In', 'are'}
8