In [1]:
##Creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tup=tuple()
print(type(tuple))

<class 'list'>
<class 'type'>

In [3]:
numbers=tuple([1,2,3,4,5])
print(numbers)

(1, 2, 3, 4, 5)

In [17]:
list((numbers))

[1, 2, 3, 4, 5]

In [4]:
list((1,2,3,4,5,6,7,8,9,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
mixed_tuple=(1,"Hello World",5.11,True)
print(mixed_tuple)

(1, 'Hello World', 5.11, True)

In [6]:
##Accessing Tuple elements

numbers

(1, 2, 3, 4, 5)

In [7]:
print(numbers[0])
print(numbers[2])
print(numbers[-1])

1
3
5

In [8]:
numbers[0:4]

(1, 2, 3, 4)

In [9]:
numbers[::]

(1, 2, 3, 4, 5)

In [10]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [11]:
##Tuple operation

concination_tuple=numbers + mixed_tuple
print(concination_tuple)

(1, 2, 3, 4, 5, 1, 'Hello World', 5.11, True)

In [12]:
mixed_tuple * 3

(1,
 'Hello World',
 5.11,
 True,
 1,
 'Hello World',
 5.11,
 True,
 1,
 'Hello World',
 5.11,
 True)

In [13]:
numbers * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [14]:
##Immutable nature of Tuples
#Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Sudama"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Sudama', 3, 4, 5]

In [15]:
numbers

numbers[1]="chhetri"

TypeError: 'tuple' object does not support item assignment

In [ ]:
##Tuple methods

print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
##Packing and unpacking Tuple
#Packing

packed_tuple=(1,"Hello World",3.14,False)
print(packed_tuple)

(1, 'Hello World', 3.14, False)

In [ ]:
#Unpacking a tuple

a,b,c,d=packed_tuple

print(a)
print(b)
print(c)
print(d)

1
Hello World
3.14
False

In [ ]:
print(a,b,c,d)

1 Hello World 3.14 False

In [ ]:
##unpacking with *

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
##Nested tuple

#Nested list(example)
lst=[[1,2,3,4],[5,6,7,8],[9,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [ ]:
lst=[[1,2,3,4],[5,6,7,8],(9,"Hello",3.14,"c")]
lst[2][0:3]

(9, 'Hello', 3.14)

In [ ]:
nested_tuple=((1, 2, 3), ('a', 'b', 'c'), (True, False))

##accessing the element inside tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [ ]:
##Iterating over nested Tuple

for sub_tuple  in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [2]:
a = [2,1,4,3,65]

In [3]:
a

[2, 1, 4, 3, 65]

In [5]:
pip install numpy

Requirement already satisfied: numpy in /Users/sudamachhetri/Library/Mobile Documents/com~apple~CloudDocs/Desktop/DATA ANALYTICS BOOTCAMP/venv/lib/python3.12/site-packages (2.2.1)
Note: you may need to restart the kernel to use updated packages.