# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tpl=tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
print(tpl[0]) ##first element in tuple

1

In [106]:
print(tpl[len(tpl)//2]) ##middle element in tuple

6

In [107]:
print(tpl[-1]) ##last element in tuple

10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [108]:
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [109]:
print(tpl[:3])

(1, 2, 3)

In [110]:
print(tpl[-3:])

(8, 9, 10)

In [111]:
print(tpl[2:6])

(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [112]:
matrix=(
    (1, 2, 3), 
    (4, 5, 6), 
    (7, 8, 9)
)
print("Matrix: ")
for row in matrix:
    print(row)
print(f"the element at the second and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
the element at the second and third column: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [113]:
tpl1=(1,2,3)
tpl2=(4,5,6)

concinated_tuple=tpl1 + tpl2
print(concinated_tuple)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [114]:
tpl = (1,2,2,3,4,4,4,5)

print(tpl.count(4))
print(tpl.count(2))

3
2

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [115]:
tpl = (1,2,3,4,5)

a,b,c,d,e=tpl

print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [116]:
print(a,b,c,d,e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [117]:
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [118]:
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [119]:
tpl_of_tpl=(
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print(tpl_of_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [126]:
str="Sudama"
tpl=tuple(str)
join_string=''.join(tpl)
print(join_string)

Sudama

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [127]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for tpl in nested_tpl:
    for item in tpl:
        print(item)

1
2
3
4
5
6
7
8
9