In [1]:
##Declaring and assigning varaible

age=21
height=5.11
name="Sudama chhetri"
is_student=True

##printing the variabels

print("age:",age)
print("height:",height)
print("name:",name)

age: 21
height: 5.11
name: Sudama chhetri

In [2]:
##Naming convention
##Variable name should be descriptive
##They must start with letter or '_' and contains letters, and underscores
##Varaibles names case sensitive

#valid varaible names

first_name="Sudama"
last_name="Chhetri"

In [3]:
##Understanding variable types
##Python is dynamically typed,type of a variable is determined runtime
age=21#int
height=5.11#float
name="Sudama"#str
is_student=True#bool

print(type(name))

<class 'str'>

In [4]:
##Typing checking and conversion
type(height)

float

In [5]:
age=21
print(type(age))

#Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
21
<class 'str'>

In [6]:
age='21'
print(type(int(age)))

<class 'int'>

In [7]:
height=5.11
print(type(height))

<class 'float'>

In [8]:
int(height)

5

In [9]:
float(int(height))

5.0

In [10]:
##Dynamic Typing
##Python allows the type of varaible to change as the program executes
var=10#int
print(var,type(var))

var="Hello"#str
print(var,type(var))

var=5.11#float
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
5.11 <class 'float'>

In [11]:
##Input

age=input("What is the age")
print(age,type(age))

In [ ]:
age=int(input("What is the age"))
print(age,type(age))

4 <class 'int'>

In [ ]:
##Simple calculator

num1=float(input("enter first number"))
num2=float(input("enter second number"))

sum = num1+num2
difference = num1-num2
product = num1*num2
quotient = num1/num2

print("Sum:", sum)
print("Differnce:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 120.0
Differnce: -8.0
Product: 3584.0
Quotient: 0.875